<!DOCTYPE html>
<html>
  <head>
    <title>@</title>

    <style>
      body {
        background-color: #2f3237;
        color: white;
      }

      p {
        font-size: 16px;
        font-weight: 200;
      }

      #bookmark-action {
        color: #3490dc;
        cursor: pointer;
      }

      .container {
        display: block;
        height: 115px;
        padding: 0px 8px;
        width: 360px;
      }

      .title {
        font-size: 18px;
        font-weight: 100;
        display: block;
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="title">FeatherMarks</h1>

      <p id="bookmark-action">Bookmark Current Page</p>

      <p style="font-size:12px; margin-top:5px;"><i>This extension changes the New Tab page to Feathermarks.com. To disable this, please disable or remove the extension</i></p>
  </body>
</html>