<!DOCTYPE html>
<html>
  <head>
    <title>@</title>

    <style>
      .container {
        display: block;
        height: 200px;
        overflow: scroll;
        padding: 10;
        width: 300px;
      }

      .title {
        color: #000;
        font-size: 14px;
        padding: 4px 0;
        display: block;
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="title">FeatherMarks Extension</h1>

      <p>This extension changes the New Tab page. If you would like to change this, please disable or remove the extension</p>

      <p>Test to fetch the title of the current page:</p>
      <p id="tab_title"></p>
  </body>
</html>